body {
    background-color: gray;
    /*background-color: lightblue;*/
    font-family: 微软雅黑;
}
.text {
    /*background-color: white;*/
    width: 741px;
    margin: 0 auto;
}
h1 {
    -webkit-user-select: none;
    user-select: none;
}
.link {
    -webkit-user-select: none;
    user-select: none;
}
a {
    text-decoration: none;
    color: dimgray;
    transition: color 0.2s ease 0s;
}
a:hover {
    color: black;
    transition: color 0.2s ease 0s;
}
audio{
    max-height: 35px;
    max-width: 300px;
}
@media only screen and (max-width: 786px) {
    .text {
        width: 95%;
    }
}
.darkmode-layer, .darkmode-toggle {
    z-index: 500;
}
